<div class="d-flex flex-column text-center justify-content-center w-75 m-auto">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div *ngIf="heroes$ | async as heroes; else loading">
    <h2>Please define who you are</h2>
    <div class="d-flex flex-row">
      <ng-container *ngFor="let hero of heroes">
        <mat-card class="m-3 btn"
                  (click)="chooseHero(hero.id)">
          <mat-card-header>
            <mat-card-title>{{hero.name}}</mat-card-title>
            <mat-card-subtitle>{{hero.title}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="p-4" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
