<div class="content-wrapper">
  <mat-card class="w-75 mx-auto mt-4">
    <mat-card-header>
      <mat-card-title>Summary, expenses history</mat-card-title>
      <mat-card-subtitle>Your balance, flatmates expenses, your expenses, your debts</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="container">
        <div class="row expenses-table justify-content-center">
<!--          <h3 class="text-left col-12 mt-4">Your balance</h3>-->

          <div *ngIf="summary$ | async as summary" class="text-left col-12 my-4 d-flex">
            <div *ngFor="let debt of summary.debts" class="pr-4">
              <div *ngIf="debt.amount > 0; else flatmateDebt">
                <h5>Flatmates owe you:</h5>
                <div class="d-flex align-items-baseline">
                  <p>{{ debt.name }} amount of </p>
                  <h3 class="ml-2">{{ debt.amount | absValue | currency : 'PLN' }}</h3>
                </div>
              </div>
              <ng-template #flatmateDebt>
                <h5>You owe:</h5>
                <div class="d-flex align-items-baseline">
                  <p>{{ debt.name }} amount of </p>
                  <h3 class="ml-2">{{ debt.amount | absValue | currency : 'PLN' }}</h3>
                </div>
              </ng-template>
            </div>
          </div>

          <mat-divider [inset]="true"></mat-divider>

          <h5 class="text-center col-12 my-4">Your debts</h5>
          <div *ngIf="debts$ | async as expenses" class="col-12">
            <table mat-table [dataSource]="expenses" class="mat-elevation-z8 w-100 table-hover">

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="buyer">
                <th mat-header-cell *matHeaderCellDef>Buyer</th>
                <td mat-cell *matCellDef="let element">{{element.buyerId | flatmateName }}</td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Total amount</th>
                <td mat-cell *matCellDef="let element">{{element.amount | currency: 'PLN'}} </td>
              </ng-container>

              <ng-container matColumnDef="dividedAmount">
                <th mat-header-cell *matHeaderCellDef>Divided amount</th>
                <td mat-cell *matCellDef="let element">
                  {{(element.amount) / (element.debtors.length + 1) | currency: 'PLN'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">
                  <app-debt-paid [expense]="element" (payExpense)="payDebt($event)"></app-debt-paid>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsDebts"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsDebts;"></tr>
            </table>
          </div>

          <h5 class="text-center col-12 my-4">You bought</h5>
          <div *ngIf="ownExpenses$ | async as expenses" class="col-12">
            <table mat-table [dataSource]="expenses" class="mat-elevation-z8 w-100 table-hover">

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="buyer">
                <th mat-header-cell *matHeaderCellDef>Buyer</th>
                <td mat-cell *matCellDef="let element">{{element.buyerId | flatmateName}} </td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Total amount</th>
                <td mat-cell *matCellDef="let element">{{element.amount | currency: 'PLN'}} </td>
              </ng-container>

              <ng-container matColumnDef="dividedAmount">
                <th mat-header-cell *matHeaderCellDef>Divided amount</th>
                <td mat-cell *matCellDef="let element">
                  {{(element.amount) / (element.debtors.length + 1) | currency: 'PLN'}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsSpecificExpenses"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsSpecificExpenses;"></tr>
            </table>
          </div>

          <h5 class="text-center my-4 col-12">Expenses history</h5>
          <div *ngIf="expenses$ | async as expenses" class="col-12">
            <table mat-table [dataSource]="expenses" class="mat-elevation-z8 w-100 table-hover">

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="buyer">
                <th mat-header-cell *matHeaderCellDef>Buyer</th>
                <td mat-cell *matCellDef="let element">{{element.buyerId | flatmateName}} </td>
              </ng-container>

              <ng-container matColumnDef="debtors">
                <th mat-header-cell *matHeaderCellDef><span class="ml-4">For</span></th>
                <td mat-cell *matCellDef="let element">
                  <ul class="my-2">
                    <li *ngFor="let debtor of element.debtors">
                      {{debtor.name}}
                    </li>
                  </ul>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Total amount</th>
                <td mat-cell *matCellDef="let element">{{element.amount | currency: 'PLN'}} </td>
              </ng-container>

              <ng-container matColumnDef="dividedAmount">
                <th mat-header-cell *matHeaderCellDef>Divided amount</th>
                <td mat-cell
                    *matCellDef="let element">{{(element.amount) / (element.debtors.length + 1) | currency: 'PLN'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsTotalExpenses"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsTotalExpenses;"></tr>
            </table>
          </div>

          <h5 class="text-center my-4 col-12">Flatmate balances</h5>
          <div class="ml-4 mt-4 d-flex" *ngIf="summaries$ | async as summaries">
            <div *ngFor="let balance of summaries; let last = last" [class.pr-4]="!last">
              <h5>{{ balance.creditor }}</h5>
              <div *ngFor="let debt of balance.debts">
                <div *ngIf="debt.amount > 0; else flatmateDebt">
                  <p><span>{{ debt.name }}</span> owes him amount of <span
                    class="font-weight-bold"> {{ debt.amount | absValue | currency : 'PLN' }}</span></p>
                </div>
                <ng-template #flatmateDebt>
                  <p>He owes <span>{{ debt.name }}</span> amount of<span
                    class="font-weight-bold"> {{ debt.amount | absValue | currency : 'PLN' }}</span></p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>

