<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form [formGroup]="expensesForm">
        <mat-vertical-stepper linear #stepper>
          <mat-step [stepControl]="expensesForm.get('shareWith')">
            <div *ngIf="heroes$ | async as heroes; else loading">
              <ng-template matStepLabel>Share with</ng-template>
              <p>Choose who you share bought items with</p>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                name="shareWith"
                required
                formControlName="shareWith">
                <mat-radio-button class="example-radio-button" [value]="heroes">All flatmates</mat-radio-button>
                <mat-radio-button class="example-radio-button" *ngFor="let option of heroes" [value]="[option]">{{option.name}}</mat-radio-button>
              </mat-radio-group>
              <div>
                <button mat-raised-button color="primary" [disabled]="expensesForm.get('shareWith').invalid" matStepperNext>Next</button>
              </div>
            </div>
          </mat-step>
          <mat-step [stepControl]="expensesForm.get('moneySpent')">
            <ng-template matStepLabel>Money spent</ng-template>
            <p>Type how much money did you spend</p>
            <mat-form-field appearance="outline">
              <mat-label>Money spent</mat-label>
              <input
                matInput
                name="moneySpent"
                formControlName="moneySpent"
                placeholder="Money spent"
                min="0"
                required>
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
            <div>
              <button mat-stroked-button class="mr-2" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" [disabled]="expensesForm.get('moneySpent').invalid" matStepperNext (click)="saveData()">Next</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are done now</p>
            <p>Listed flatmates owe you money:</p>
            <ul>
              <li *ngFor="let hero of expensesForm.get('shareWith').value">
                {{ hero.name }} owe you {{ expensesForm.get('amountToGiveBack').value }} PLN
              </li>
            </ul>
            <div>
              <button mat-stroked-button class="mr-2" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </div>
  </div>
</div>



<ng-template #loading>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>
