<form #form="ngForm">
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="form.controls.shareWith">
      <ng-template matStepLabel>Share with</ng-template>
      <p>Choose who you share bought items with</p>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        name="shareWith"
        required
        #shareWithControl="ngModel"
        [(ngModel)]="calculator.shareWith">
        <mat-radio-button class="example-radio-button" *ngFor="let option of shareWithOptions"
                          [value]="option">{{option}}</mat-radio-button>
      </mat-radio-group>
      <div>
        <button mat-raised-button color="primary" [disabled]="shareWithControl.invalid" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="form.controls.moneySpent">
      <ng-template matStepLabel>Money spent</ng-template>
      <p>Type how much money did you spend</p>
      <mat-form-field appearance="outline">
        <mat-label>Money spent</mat-label>
        <input
          matInput
          name="moneySpent"
          #moneySpent="ngModel"
          [(ngModel)]="calculator.moneySpent"
          placeholder="Money spent"
          min="0"
          required>
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      <div>
        <button mat-stroked-button class="mr-2" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" [disabled]="moneySpent.invalid" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-stroked-button class="mr-2" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
