<div class="container content-wrapper">
  <div class="row justify-content-center">
    <mat-card class="col-12 my-4">
      <mat-card-header>
        <mat-card-title>Add expense</mat-card-title>
        <mat-card-subtitle>Add your last expenses</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-vertical-stepper linear #stepper>
          <mat-step [stepControl]="firstStepGroup">
            <form [formGroup]="firstStepGroup">
              <div *ngIf="flatmates$ | async as heroes; else loading">
                <ng-template matStepLabel>Share with</ng-template>
                <p>Choose who you share bought items with</p>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  name="flatmates"
                  formControlName="flatmates">
                  <mat-radio-button class="example-radio-button" [value]="heroes">All flatmates</mat-radio-button>
                  <mat-radio-button class="example-radio-button" *ngFor="let option of heroes"
                                    [value]="[option]">{{option.name}}</mat-radio-button>
                </mat-radio-group>
                <div>
                  <button mat-raised-button color="primary" [disabled]="firstStepGroup.invalid"
                          matStepperNext>Next
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondStepGroup">
            <form [formGroup]="secondStepGroup">
              <ng-template matStepLabel>Money spent</ng-template>
              <p>Type how much money did you spend</p>
              <mat-form-field appearance="outline">
                <mat-label>Money spent</mat-label>
                <input
                  matInput
                  name="amount"
                  formControlName="amount"
                  placeholder="Money spent"
                  min="0">
                <mat-icon matSuffix>attach_money</mat-icon>
              </mat-form-field>
              <br/>

              <div>
                <button mat-stroked-button class="mr-2" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" [disabled]="secondStepGroup.invalid"
                        matStepperNext>Next
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdStepGroup">
            <form [formGroup]="thirdStepGroup">
              <ng-template matStepLabel>Description</ng-template>
              <p>Type what did you buy</p>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  name="description"
                  formControlName="description"
                  placeholder="Description"
                  matAutosizeMinRows=2
                  matAutosizeMaxRows=5>
              </textarea>
              </mat-form-field>
              <div>
                <button mat-stroked-button class="mr-2" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" [disabled]="thirdStepGroup.invalid"
                        matStepperNext (click)="saveData()">Next
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are done now</p>
            <p>Listed flatmates owe you money:</p>
            <ul>
              <li *ngFor="let hero of firstStepGroup.get('flatmates').value">
                {{ hero.name }} owe you {{ independentDataGroup.get('dividedAmount').value }} PLN
              </li>
            </ul>
            <div>
              <button mat-raised-button color="primary" class="mr-2" (click)="navigateToDashboard()">Dashboard
              </button>
              <button mat-raised-button color="primary" (click)="navigateToExpenses()">Expense summary</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<ng-template #loading>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>
