<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="heroes$ | async as heroes" class="w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="my-3 text-center">Please define who you are: </h2>
      </div>
      <ng-container *ngFor="let hero of heroes">
        <mat-card style="cursor: pointer; text-align: center" class="col-12 col-md-6 col-lg-3 mx-3 example-card" (click)="chooseHero(hero.id)">
          <mat-card-header>
            <mat-card-title>{{hero.name}}</mat-card-title>
            <mat-card-subtitle>{{hero.title}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
